*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #B8C0FF;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
   border-radius: 1rem;
   border: none;
   box-shadow: 0 0 1rem  rgba(0, 0, 0,  .3);
   font-size: 8vmin;
   color: #E7C6FF;
   background-color: rgb(71, 96, 13);

}
#reset-btn{
    padding: 1rem;
    height: 18vmin;
    width: 18vmin;
   border-radius: 1rem;
   border: none;
   font-size: 1.25rem;
   background-color: #191913;
   color: white;
}
#new-btn{
    padding: 1rem;
    height: 18vmin;
    width: 18vmin;
   border-radius: 1rem;
   border: none;
   font-size: 1.25rem;
   background-color: #191913;
   color: white;
   margin-top: 150px;
}

.msg-container{
   height: 100vmin; 
}
#msg{
    margin-top: 50px;
    color: #191913;
    font-size: 8vmin;

}
.hide{
    display: none;
}